MONGO_URL=mongodb+srv://zeeshansd767:zeeshansd767@ims.tbja6ut.mongodb.net/?retryWrites=true&w=majority&appName=IMS
JWT_SECRET=M6RlN74Yp-n3FJyz_0ykuzqx2qeHuAz1Nz4TtfW_rTM


USER_URL=https://banoqabil-incubatees.vercel.app/
LOCAL_URL=http://localhost:5173


CLOUDINARY_CLOUD_NAME=dzwxhsvtg
CLOUDINARY_API_KEY=543884643688157
CLOUDINARY_API_SECRET=paWaxW1JPVhLHlVhKs48Xueod6U


IP_ADDRESS_ONE=202.47.38.239
IP_ADDRESS_TWO=119.73.104.15

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=muhammadshah516@gmail.com
SMTP_PASS=jjavavylwiejvrue
SMTP_FROM=noreply@bqincubation.com